
body{

    background-color: rgba(233, 173, 20, 0.308);
}
th,td{
    padding-right: 80px;
}
table, tr, td{
    border: 2px solid;
    border-color:rgba(136, 125, 29, 0.781);
    border-collapse: collapse;
}
input{padding-right: 500px;}

#clickAdd, #filter{
    background-color: rgba(133, 123, 36, 0.781);
    margin-left: 310px;
    color: honeydew;
}

.row0{
    background-color:rgba(133, 123, 36, 0.781);
    color:rgb(245, 237, 217);
}
